IDENTIFICATION DIVISION.
    PROGRAM-ID. Test.
ENVIRONMENT DIVISION.
    OS "Linux".
DATA DIVISION.
    INPUT TEXT-STRING.
    INPUT TEXT-STRING.
    INPUT TEXT-STRING.
PROCEDURE DIVISION.
    CONCATENATE TEXT-STRING TEXT-STRING TEXT-STRING.
