IDENTIFICATION DIVISION.
    PROGRAM-ID. SimpleExample.
    AUTHOR. CENTRA-NF Team.
    VERSION. 0-1-0.

ENVIRONMENT DIVISION.
    OS "Linux".
    ARCH "x86_64".
    RUNTIME-VERSION "1.0".

DATA DIVISION.
    INPUT VIDEO-STREAM VIDEO-MP4.

PROCEDURE DIVISION.
    COMPRESS VIDEO-STREAM.
    VERIFY-INTEGRITY VIDEO-STREAM.
